@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kaushan+Script&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lexend+Tera&family=Raleway:wght@600&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Kalam&family=Yellowtail&display=swap');

:root {
  /* --header-bg: #F7F3DF; */
  --header-bg: #001B52;
  --header-color: #D6E4FF;
  --header-hover-color: #FFF;
  --hover-color: #8A9093;
  --border-color: #BEC1C4;
  --transition-time: 0.2s ease-in;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

/* ::-webkit-scrollbar {
  width: 0.7rem;
} */
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: var(--header-bg);
  background: #EAEBEC;
  /* border-radius: 25px; */
}
::-webkit-scrollbar-corner {
  background: #EAEBEC;
}
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
a, i {
  text-decoration: none;
  transition: 0.2s ease-in;
  transition: var(--transition-time);
  transition-property: color, opacity;
}
li {
  list-style-position: inside;
}
img {
  user-select: none;
}

body > header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding-top: 8.5%; */
  height: 7rem;
  background: #001B52;
  background: var(--header-bg);
  /* background: linear-gradient(to bottom, var(--header-bg) 85%, transparent 100%); */
  transition: top 0.7s ease;
}
body > header * {
  color: #D6E4FF;
  color: var(--header-color);
}
header .fa-bars, header .fa-times {
  display: none;
  position: absolute;
  top: 1.1rem;
  right: 6%;
  font-size: 1.8rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 7.5%;
  /* width: 8.5%;
  padding-top: 14%; */
  width: 7.5rem;
  height: 12rem;
}
.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.logo a {
  position: absolute;
  bottom: 75%;
  left: 27%;
  white-space: nowrap;
  /* font-size: 2.2vw; */
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
}
nav {
  position: absolute;
  top: 47%;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 68%;
  height: 100%;
  margin: auto;
  animation: fade-in 0.7s 0.2s forwards alternate;
}
nav li {
  margin: 0 1%;
  transition: transform 0.2s ease-in;
  transition: transform var(--transition-time);
}
nav li:first-of-type {
  margin-left: 0;
}
nav li:last-of-type {
  margin-right: 0;
}
nav a {
  font-size: 1.5rem;
  /* letter-spacing: 0.1vw; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Handlee', cursive; */
  /* font-family: 'Lexend Tera', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Cinzel', serif; */
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
}
nav li:hover {
  transform: translateY(-10%);
}
nav li:hover a {
  color: #FFF;
  color: var(--header-hover-color);
}
.social i.fa-instagram:hover {
  color: #d73e90;
}
.social i.fa-youtube:hover {
  color: #ff0000;
}
.social i.fa-facebook-f:hover {
  color: #0168e2;
}
.social {
  position: absolute;
  top: 6%;
  right: 1%;
  min-width: 11%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: fade-in 0.7s 0.2s forwards alternate;
}
.social a {
  font-size: 1.7rem;
  padding: 0 8%;
}
.active {
  /* border-bottom: 1px solid var(--border-color); */
  border-bottom: 1px solid #D6E4FF;
  border-bottom: 1px solid var(--header-color);
}

main {
  /* margin-top: 11.5%; */
  margin-top: 9.5rem;
}

section {
  font-size: 1.05rem;
  line-height: 1.5;
  margin: 0 15%;
}
section > * {
  padding-bottom: 2.5rem;
}

.slideshow {
  position: relative;
  overflow: hidden;
  padding-top: 66.64%;
  /* width: 60%; */
  /* width: 100%; */
  /* padding-top: 39.98%; */
  /* padding-top: 39%; */
  /* margin: auto; */
  /* border: 1.5% solid var(--border-color); */
}
/* .slideshow::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3%;
  background: linear-gradient(to bottom, white, transparent);
  z-index: 9;
}
.slideshow::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%;
  background: linear-gradient(to top, white, transparent);
  z-index: 9;
} */
.container {
  display: none;
  width: 60%;
  margin: auto;
  padding: 1.3%;
  background: linear-gradient(135deg, rgba(0, 20, 61, 0.9), var(--header-color));
  /* position: relative; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}
/* .container::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.95%;
  height: 100%;
  background: linear-gradient(to right, white, transparent);
  z-index: 9;
} */
/* .container::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.95%;
  height: 100%;
  background: linear-gradient(to left, white, transparent);
  z-index: 9;
} */
.slides {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* transition: width 2.5s ease, left 2.5s ease, z-index 0.1s 1s; z-index only for 2 images */
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin: 0 11%; */
}
.cards > * {
  flex-basis: 48%;
  padding: 2.5rem 4% 0;
}
.us {
  text-align: justify;
}
.cards h3 {
  display: flex;
  align-items: center;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  margin-bottom: 4%;
  border-bottom: 1px solid #BEC1C4;
  border-bottom: 1px solid var(--border-color);
}
h3 i {
  font-size: 2rem;
  margin: 1% 4%;
  color: #8A9093;
  color: var(--hover-color);
}

/* .bio > * { */
  /* margin: 0 15%; */
  /* padding: 2% 0; */
/* } */
.bio h3 {
  letter-spacing: 0.1rem;
  text-align: center;
  /* text-indent: 1rem; */
  font-size: 3rem;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Yellowtail', cursive;
  font-weight: 500;
  margin-bottom: 1%;
}
.bio p {
  text-align: justify;
}
.img-container {
  position: relative;
  width: 40%;
  /* width: 35%; */
  padding-top: 60%;
  /* padding-top: 52.52%; */
}
.flora .img-container {
  float: left;
  clear: right;
  margin: 2.5% 2.5% 0.5% 0;
}
.flora .img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3%;
  left: -4.5%;
  width: 95%;
  height: 96.67%;
  background: linear-gradient(135deg, rgba(0, 20, 61, 0.5), transparent);
}
.daniel .img-container {
  float: right;
  clear: left;
  margin: 2.5% 0 0.5% 2.5%;
}
.daniel .img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3%;
  right: -4.5%;
  width: 95%;
  height: 96.67%;
  background: linear-gradient(225deg, rgba(255, 157, 0, 0.6), transparent);
}
.bio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.duo .img-container {
  float: right;
  clear: left;
  margin: 2.5% 0 0.5% 5%;
}
.duo .img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3%;
  right: -4.5%;
  width: 95%;
  height: 96.67%;
  background: linear-gradient(255deg, rgba(0, 20, 61, 0.5), transparent);
}

.photos {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-auto-rows: 170.6px;
  /* width: 75%; */
  /* margin: auto; */
  /* padding-top: 2%; */
}
.photos .card {
  overflow: hidden;
  cursor: pointer;
}
.card img {
  width: 100%;
}
.tall {
  grid-row: span 2;
}

.modal-open {
  /* padding-right: 15px; */
  width: calc(100% - 15px);
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  width: 100vw;
  height: 100%;
  background: rgba(190, 193, 196, 0.85);
  overflow: auto;
}
.modal-content {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modal-slides {
  display: none;
  padding: 1%;
  max-width: 87%;
  max-height: 100%;
}
/* .thumbnails {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: 10%;
  overflow-x: auto;
}
.thumbnail {
  height: 90%;
  padding: 0 0.5%;
  margin: auto;
  cursor: pointer;
} */
.modal-content i {
  z-index: 12;
  font-size: 1.5rem;
  color: #fff;
  /* opacity: 0.9; */
  cursor: pointer;
}
/* .modal-content i:hover {
  opacity: 1;
} */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
}
.prev-slide, .next-slide {
  /* padding: 1.5%; */
  padding: 1% 1.46%;
  /* border-radius: 15px; */
  border-radius: 50%;
  transition: background-color 0.2s ease-in;
  transition: background-color var(--transition-time);
}
.prev-slide:hover, .next-slide:hover {
  background: rgb(138, 144, 147, 0.8);
}

/* .music { */
  /* width: 70%; */
  /* margin: auto; */
  /* padding-top: 2%; */
/* } */
.videos {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.videos iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .contacts {
  align-items: center;
} */
.contacts * {
  justify-content: center;
  text-align: center;
}
.contacts > * {
  flex-basis: 40%;
  padding: 0 4% 2.5rem;
}
.contacts > h4 {
  flex-basis: 100%;
}
.contacts a:hover {
  color: #8A9093;
  color: var(--hover-color);
}

footer {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  margin: 14rem 0 1rem;
}

@media screen and (max-width: 640px) {
  body > header {
    height: 4rem;
    transition: 0.7s ease;
  }
  .logo {
    top: 0.9rem;
    left: 0;
    width: 5rem;
    height: 8rem;
  }
  nav {
    top: 16%;
    height: 65%;
  }
  nav ul {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    opacity: 0;
  }
  .social {
    display: none;
    top: unset;
    right: unset;
    bottom: 2%;
    width: 100%;
    justify-content: space-evenly;
    opacity: 0;
  }
  .show1 {
    height: 85%;
  }
  .show2 {
    display: flex;
  }
  header .fa-bars {
    display: block;
  }
  main {
    margin-top: 6.5rem;
  }
  section {
    font-size: 1rem;
    margin: 0 8%;
  }
  .container {
    width: 100%;
  }
  .cards {
    flex-direction: column;
  }
  .cards > * {
    padding: 2.5rem 0 0;
  }
  .bio h3 {
    font-size: 2rem;
  }
  .modal-slides {
    max-width: 100%;
    padding: 0;
  }
  .prev-slide {
    position: absolute;
    left: 0;
  }
  .next-slide {
    position: absolute;
    right: 0;
  }
  .prev-slide:hover, .next-slide:hover {
    background: none;
  }
  .contacts > * {
    padding: 0 0 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  section {
    font-size: 1.1rem;
  }
  /* .cards {
    margin: 3% 15% 0;
  } */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}