@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&family=Montserrat&family=Varela+Round&family=Yellowtail&display=swap');

:root {
  --hover-color: #8A9093;
  --border-color: #BEC1C4;
  --transition-time: 0.2s ease-in;
  --fade-animation: fade-in 0.7s forwards;
  --up-animation: up 0.6s forwards;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #EAEBEC;
}
::-webkit-scrollbar-thumb {
  background: #BEC1C4;
  background: var(--border-color);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8A9093;
  background: var(--hover-color);
}
a, i {
  text-decoration: none;
  transition: 0.2s ease-in;
  transition: var(--transition-time);
  transition-property: color, opacity;
}
li {
  list-style-position: inside;
}
img {
  user-select: none;
}

body > header {
  position: relative;
  z-index: 10;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  height: 7.5rem;
  background: #FFF;
  border-bottom: 1px solid #BEC1C4;
  border-bottom: 1px solid var(--border-color);
}
header .fa-bars, header .fa-times {
  display: none;
  position: absolute;
  top: 1.1rem;
  right: 6%;
  font-size: 1.6rem;
}
.logo {
  position: relative;
  /* top: -1rem; */
  left: 7.5%;
  width: 19rem;
  height: 13rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/logo.gif");
}
.logo a {
  position: absolute;
  bottom: 74.5%;
  right: 0;
  font-size: 2.6rem;
  font-family: 'Dancing Script', cursive;
}
nav {
  position: absolute;
  top: 54%;
  width: 100%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 68%;
  height: 100%;
  margin: auto;
}
nav li {
  margin: 0 1.5%;
  transition: transform 0.2s ease-in;
  transition: transform var(--transition-time);
}
nav li:first-of-type {
  margin-left: 0;
}
nav li:last-of-type {
  margin-right: 0;
}
nav a {
  font-size: 1.5rem;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
}
nav li:hover {
  transform: translateY(-10%);
}
nav li:hover a {
  color: #8A9093;
  color: var(--hover-color);
}
.active {
  color: #8A9093;
  color: var(--hover-color);
}

main {
  margin-top: 2.5rem;
}
.home {
  margin-top: 1rem;
}
main > h2 {
  display: none;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.3rem;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  border-bottom: 1px solid #BEC1C4;
  border-bottom: 1px solid var(--border-color);
  opacity: 0;
  animation: var(--fade-animation);
}

section {
  font-size: 1.05rem;
  line-height: 1.5;
  margin: 0 15%;
}
section > * {
  padding-bottom: 2.5rem;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 78%;
  padding-top: 27%;
  margin: auto;
  background: linear-gradient(225deg, #BEC1C4, #FFF);
  background: linear-gradient(225deg, var(--border-color), #FFF);
  opacity: 0;
  animation: var(--fade-animation);
  /* padding-top: 66.64%; */
}
.slides {
  display: none;
  position: absolute;
  top: -15%;
  width: 100%;
  /* left: 10%; */
  /* width: 80%; */
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 0;
  padding: 0 8%;
  border-top: 1px solid #BEC1C4;
  border-top: 1px solid var(--border-color);
}
.cards > * {
  flex-basis: 33%;
  min-width: 320px;
  padding: 2rem 3% 0;
  opacity: 0;
  animation: var(--up-animation);
}
.us p, .contact p {
  text-align: justify;
}
.us p:not(:last-of-type), .contact p:not(:last-of-type), .next li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.cards h3 {
  /* display: flex; */
  /* align-items: center; */
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-indent: 0.5rem;
  margin-bottom: 1rem;
  /* border-bottom: 1px solid #BEC1C4; */
  /* border-bottom: 1px solid var(--border-color); */
}

.bio h3 {
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Yellowtail', cursive;
  font-weight: 500;
  margin-bottom: 1%;
  opacity: 0;
  animation: var(--fade-animation);
}
.bio p {
  text-align: justify;
  opacity: 0;
  animation: var(--up-animation);
}
.img-container {
  position: relative;
  width: 40%;
  padding-top: 60%;
  opacity: 0;
  animation: var(--fade-animation);
}
.flora .img-container {
  float: left;
  clear: right;
  margin: 2.5% 2.5% 0.5% 0;
}
.flora .img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3%;
  left: -4.5%;
  width: 95%;
  height: 96.67%;
  background: linear-gradient(135deg, rgba(0, 20, 61, 0.5), transparent);
}
.daniel .img-container {
  float: right;
  clear: left;
  margin: 2.5% 0 0.5% 2.5%;
}
.daniel .img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3%;
  right: -4.5%;
  width: 95%;
  height: 96.67%;
  background: linear-gradient(225deg, rgba(255, 157, 0, 0.6), transparent);
}
.bio img, .rep img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.rep {
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: var(--fade-animation);
}
.rep > * {
  padding-bottom: 0;
}
.rep h3 {
  font-size: 1.8rem;
  text-indent: 0.5rem;
  letter-spacing: 0.1rem;
  font-family: 'Yellowtail', cursive;
  font-weight: 500;
  margin: 10% 0 1%;
  /* opacity: 0; */
  /* animation: var(--fade-animation); */
}
.rep li:not(:last-of-type) {
  margin-bottom: 0.8rem;
}
.rep .img-container {
  /* float: right; */
  /* clear: left; */
  align-self: flex-start;
  min-width: 200px;
  margin: 2.5% 0 0.5% 5%;
}
.rep .img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3%;
  right: -4.5%;
  width: 95%;
  height: 96.67%;
  min-height: 290px;
  background: linear-gradient(255deg, rgba(0, 20, 61, 0.5), transparent);
}

.photos {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-auto-rows: 170.6px;
}
.photos .card {
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: var(--up-animation);
}
.card img {
  width: 100%;
}
.tall {
  grid-row: span 2;
}

.modal-open {
  padding-right: 16px;
  overflow-y: hidden;
  /* width: calc(100% - 15px); */
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(190, 193, 196, 0.85);
}
.modal-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal-slides {
  display: none;
  padding: 1%;
  max-width: 84%;
  max-height: 100%;
}
.modal-content i {
  z-index: 12;
  font-size: 1.5rem;
  color: #FFF;
  opacity: 0.9;
  cursor: pointer;
}
.modal-content i:hover {
  opacity: 1;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
}
.prev-slide, .next-slide {
  padding: 0.8rem 1.2rem;
  border-radius: 50%;
  transition: background-color 0.2s ease-in;
  transition: background-color var(--transition-time);
}
.prev-slide:hover, .next-slide:hover {
  background: rgb(138, 144, 147, 0.8);
}

.music {
  /* columns: 2; */
  opacity: 0;
  animation: var(--fade-animation);
}
/* .music h3 i {
  margin: 1% 2%;
} */
.videos {
  position: relative;
  width: 46%;
  padding-top: 25.875%;
  /* padding-top: 56.25%; */
  margin: auto;
  /* margin: 0 2%; */
  background: linear-gradient(225deg, #BEC1C4, transparent);
  background: linear-gradient(225deg, var(--border-color), transparent);

}
.videos iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.music p {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 44%;
  margin: 1rem auto;
  /* margin: 1rem 2%; */
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.contacts {
  border-top: 0px;
  padding: 0 15%;
}
.contacts * {
  justify-content: center;
  text-align: center;
}
.contacts h3 {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #BEC1C4;
  border-bottom: 1px solid var(--border-color);
}
.contacts > * {
  flex-basis: 40%;
  min-width: auto;
  padding: 0 4% 3.5rem;
}
.contacts > h4 {
  flex-basis: 100%;
  opacity: 0;
  animation: var(--fade-animation);
}
.contacts i {
  font-size: 0.9rem;
  margin-left: 2%;
  color: #8A9093;
  color: var(--hover-color);
}
.contacts a {
  white-space: nowrap;
}
.contacts a:hover {
  color: #8A9093;
  color: var(--hover-color);
}

footer {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  margin: 10rem 0 1.5rem;
}
.social i.fa-instagram:hover {
  color: #d73e90;
}
.social i.fa-youtube:hover {
  color: #ff0000;
}
.social i.fa-facebook:hover {
  color: #0168e2;
}
.social {
  /* position: absolute; */
  /* top: 6%; */
  /* right: 1%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #BEC1C4;
  border-bottom: 1px solid var(--border-color);
}
.social a {
  font-size: 2rem;
  padding: 0 3% 1.3rem;
}

@media screen and (max-width: 1024px) {
  .slideshow {
    width: 100%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 640px) {
  body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    transition: 0.5s ease;
  }
  .logo {
    top: -0.4rem;
    left: 0;
    width: 14.3rem;
    height: 6rem;
    margin: 0;
    background-image: url("../images/logo.gif");
  }
  .logo a {
    bottom: 45%;
    font-size: 1.8rem;
  }
  nav {
    top: 4.5rem;
    bottom: 2.5rem;
  }
  nav ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    animation: fade-in 0.5s 0.1s forwards alternate;
  }
  .index {
    color: #8A9093;
    color: var(--hover-color);
  }
  .show1 {
    height: 85%;
  }
  .show2 {
    display: flex;
  }
  header .fa-bars {
    display: block;
  }
  main {
    margin-top: 3.5rem;
  }
  main > h2 {
    display: block;
  }
  .home {
    margin-top: 5rem;
  }
  section {
    font-size: 1rem;
    margin: 1rem 5% 0;
  }
  .slideshow {
    padding-top: 66.64%;
  }
  .slides {
    top: 0;
    /* width: 100%; */
  }
  .cards {
    flex-direction: column;
    margin: 1.5rem 0 0;
    padding: 0 5%;
  }
  .cards > * {
    min-width: auto;
    padding: 2rem 0 0;
  }
  .us {
    padding-top: 1.5rem;
  }
  .cards h3 {
    text-align: center;
    text-indent: 0;
  }
  .bio h3 {
    font-size: 1.98rem;
    letter-spacing: 0;
  }
  .rep h3:first-of-type {
    margin-top: 0;
  }
  .rep {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .rep .img-container {
    width: 90%;
    padding-top: 135%;
    margin: 15% auto 0;
  }
  .modal-slides {
    max-width: 100%;
    padding: 0;
  }
  .prev-slide {
    position: absolute;
    left: 0;
  }
  .next-slide {
    position: absolute;
    right: 0;
  }
  .prev-slide:hover, .next-slide:hover {
    background: none;
  }
  .videos {
    width: 100%;
    padding-top: 56.25%;
    margin: 0;
  }
  .music p {
    width: 100%;
    margin: 1rem 0;
  }
  .contacts > * {
    padding: 0 0 3rem;
  }
  .social {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1440px) {
  section {
    font-size: 1.1rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}